<!-- <ion-header>
  <ion-navbar color="dark">
    <ion-title>Favoris</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="warframeFavori && warframeFavori.length; else noFavorite" no-padding>
    <ion-list>
      <ion-item *ngFor="let warframe of warframeFavori">
        <ion-row>
          <ion-col col-2>
            <img [src]=""/>
          </ion-col>
          <ion-col col-7 text-wrap>
            <h4>{{warframe.name}}</h4>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #noFavorite>
    <ion-card>
      <ion-card-content>
        <p>Vous n'avez pas de favoris</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
 -->